@use "../util" as u;

header {
    min-height: 70px;
    background-color: u.$black;
    padding-block: 2rem 0.5rem;
    position: relative;
    z-index: 8;

    &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: -50px;
        width: 100%;
        height: 50px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
        z-index: 9999;
        background-color: u.$black;
    }

    .logo {
        width: 150px;
    }

    nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: u.$black;
        padding-top: 20px;
        z-index: 999999;

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: -50px;
            width: 100%;
            height: 50px;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
            z-index: 9999;
            background-color: u.$black;

            @include u.mq(small){
                
                all: unset;
            }
        }

        @include u.mq(small){
            position: static;
        }
    }

    nav[data-visible="false"] {
        display: none;

        @include u.mq(small){
            display: block;
        }

    }
    nav[data-visible="true"] {
        display: block;
    }

    .link{
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        color: u.$primary-color;
        position: relative;
        overflow: hidden;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;

        &:hover, 
        &:focus,
        &:focus-visible{
            @include u.mq(small){
                color: u.$white;
            }
            &::after{
                @include u.mq(small){
                    transform: translateY(0);
                }
            }
        }

        &::after{
            content: "";
            position: absolute;
            background-color: u.$primary-color;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            transform: translateY(5px);  
            transition-property: transform;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;
        }
    }
}
