@use "../util" as u;

main{

    section{

        padding-bottom: 30px;

        &:first-of-type{
            padding-top: 80px;
        }
    }

    h1{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 3rem;

        @include u.mq(small){
            font-size: 3rem;
        }
    }
    
    h2{
        text-align: center;
        font-size: 2.2rem;
    }

    p{
        font-family: 'Kanit', sans-serif;
        font-size: 1.6rem;
        width: clamp(18ch, 48ch, 100%);
    }

    .cola-img{
        width: 120px;
    }
    .jolly-can-img{
        width: 150px;

        @include u.mq(small){
            width: 200px;
        }
    }

    .intro-text{
        width: 100%;
    }

    .can-container{
        width: 100%;
    }


    .astralis-text{
        position: relative;

        &::before{
            content: "";
            position: absolute;
            width: 300px;
            aspect-ratio: 15/18;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../assets/img/astralis.svg");
            background-size: cover;
            z-index: -1;
            opacity: .4;

            @include u.mq(small){
                width: 220px;
            }
        }

    }

    form{
        font-size: 1.6rem;
        line-height: 1em;

        label{
            font-size: 1.6rem;
        }

        button{
            cursor: pointer;
            border: 4px solid u.$black;
            padding-block: 1rem;
            background: u.$white;
            color: u.$black;
            transition-property: border, color, background;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;

            &:hover,
            &:focus,
            &:focus-visible{
                background: u.$black;
                color: u.$white;
                border: 4px solid u.$white;

            }
        }
    }
}